

  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: 15pt;
    margin: 80px auto 48px auto;
    width: 1120px;
}

.static {
    position:absolute;
  }
  
  .static:hover {
    opacity:0;
  }

section{
    /*margin was 80 0 80 0*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
    grid-auto-flow: dense;
}

header{
    display: flex;
    align-items: center;
}

.arrow{
    height: 50pt;
    padding-right: 10pt;
}

/*Splash Page*/

.title{
    font-size: 30pt;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, 
    #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link1{
    margin-top: 70pt;
    margin-left: 15pt;
    grid-column: 1 / span 3;
}

.link4{
    margin-top: 70pt;
    margin-left: 50pt;
    grid-column: 1 / span 4;
}

.link2{
    margin-top: 30pt;
    grid-column: 2 / span 3;
}

.link3{
    grid-column: 6 / span 4;
}

.link5{
    grid-column: 9 / span 4;
}

.splashgreen{
    color: greenyellow;
    font-size: 20pt;
    background-color: blue;
}

.splashblue{
    color: blue;
    font-size: 20pt;
    background-color: yellow;
}

.splashpink{
    color: hotpink;
    font-size: 20pt;
    background-color: #2196f3;
}

.splashred{
    color: red;
    font-size: 20pt;
    background-color: blue;
}

.splashcyan{
    color: cyan;
    font-size: 20pt;
    background-color: palevioletred;
}

.splash{
    background-image: url(../img/clubpenguinbackground.png);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.splashtitle{
    grid-column: 4 / span 5; 
    text-align: center;
}

.penguinbreak{

    padding-left: 70pt;
    grid-column: 3 / span 1; 
    text-align: center;
}

.penguinlei{
    padding-top: 30pt;
    padding-bottom: 0pt;
    grid-column: 6 / span 1; 
    text-align: center;
}

.penguintele{
    grid-column: 8 / span 1; 
    text-align: center;
}

/*Art Pages*/

.pages{
    color: aliceblue;
    background-image: url(../img/star2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.video{
    text-align: center;
}
